.Rproj.user
.Rhistory
.RData
.Ruserdata
BAE204_LabReport12_Birgand.*
BAE204-Lab12-Instructions.Rmd
BAE 204 Lab Report 11-2019.*
BAE204_LabReport12_Birgand_short_version.Rmd
BAE204_LabReport11_frenchie.*
